@font-face {
  font-family: Roboto;
   src: url("assets/fonts/Roboto.ttf");
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}


* {
  box-sizing: border-box;
}

.header {
  background-color: #5b96bd;
}

.main {
  background-color: #fff1ed;
}

.footer {
  border: 1px solid blue;
}

body {
  font-family: 'Roboto', sans-serif; 
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #505050;

  min-height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

html {
  scroll-behavior: smooth; 
}


.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
}

.section-item a {
  color: #f9c0ab;
  text-decoration: none;  
  transition: color 0.5s;
}
.section-item a:hover {
  color: #e17e0c;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}

.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #5b96bd;
}

.link {
  text-decoration: none;
  color: #5b96bd;
  transition: color 0.5s;
}

.link:hover {
  color: #284e67;
}

li {
  list-style-type: none;
}
main li::before {
  content: "\2727";
}

#photo {
  border-radius: 200px;
  box-shadow: 0 0 7px #666; 
}